@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(media.css);
*
{
    margin: 0;
    padding: 0;
}
body
{
    width: 100%;
    height: 3989px;
    background: #E8E8E8;
    overflow-x: hidden;
    animation: body;
}
@keyframes body
{
    0%
    {
        top: -100px;
    }
    100%
    {
        top: 0px;
    }
}
img
{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
a,
li
{
    text-decoration: none;
    list-style: none;
}
nav .logo 
{
    position: relative;
    width: 150px;
    margin-top: 24px;
    margin-left: 80px;
}
nav .logo h1
{
    font-family: 'outfit';
    font-size: 30px;
    font-weight: 600;

    transition: .3s;
    cursor: pointer;
}
nav .logo h1:hover
{
    transform: scale(1.1);
    color: #216994 ;
}
nav li
{
    position: absolute;
    top: 36px;
    left: 287px;
}
nav li ul a
{
    margin-left: 21px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #000;
    transition: .3s;
}
nav a:hover,
nav h4:hover
{
    color: #FF5C00;
}
nav li ul h4
{
    position: absolute;
    width: 140px;
    top: 0;
    left: 704px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    cursor: context-menu;
    transition: .3s;
}
.line-bacround 
{
    left: 4px;
    top: 90px;
    position: absolute;
    z-index: -1;
}
.text-present
{
    position: absolute;
    width: 563px;
    left: 116px;
    top: 176px;
    cursor: context-menu;
}
.text-present h3
{
    font-size: 27px;
    font-weight: 600;
    font-family: 'montserrat';
    line-height: 33px;
}
.text-present h3 span
{
    color: #FF5C00;
}
.text-present h1
{
    width: 226px;
    position: absolute;
    top: 271px;
    font-size: 26px;
    font-weight: 600;
    font-family: 'montserrat';
    border-radius: 100px;
    padding: 19px 62px 20px 62px;
    transition: .3s;
    background: #216994;
}
.text-present h1:hover
{
    background: #4ba1d3;
}
.text-present p
{
    width: 424px;
    font-family: 'montserrat';
    position: absolute;
    line-height: 21px;
    font-size: 18px;
    font-weight: 700;
    top: 352px;
}
.img-present
{   
    position: relative;
    left: 825px;
    top: 58px;
}
.img-border-ab-us
{
    position: relative;
    top: 115px;
    left: 71px;
}
.img-ab-us
{
    position: absolute;
    top: 658px;
    left: 96px;
}
.text-ab-us
{
    position: absolute;
    width: 395px;
    top: 706px;
    left: 522px;
    font-family: 'montserrat';
}
.text-ab-us h2
{
    width: 266px;
    font-size: 41px;
    font-weight: 500;
}
.text-ab-us h1
{
    position: relative;
    font-size: 61px;
    left: 84px;
    bottom: 39px;
    font-weight: 500;
    color: #B3B3B3;
    z-index: -1;
}
.text-ab-us span
{
    color: #FF5C00;
}
.text-ab-us p
{
    position: absolute;
    top: 70px;
    width: 779px;
    line-height: 24px;
    font-size: 20px;
    font-family: 'montserrat';
}
.dismantling-services
{
    position: relative;
    top: 199px;
}
.dismantling-icon
{
    position: relative;
    width: 60px;
    left: 269px;
    top: -8px;
}
.dismantling-icon::before
{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 36px;
    top: 9px;
    border-radius: 100px;
    background: #FF5C00;
    z-index: -1;
    transition: .3s;
}
.dismantling-icon:hover::before
{
    width: 80px;
    height: 80px;
    left: -10px;
    top: -10px;
}
.dismantling-name
{
    position: relative;
    left: 246px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}
.dismantling-text
{
    width: 296px;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
}
.dismantling-text h5
{
    position: relative;
    left: 150px;
    top: 11px;
    line-height: 18px;
}
.Construction-services
{
    position: relative;
    top: 49px;
    left: 420px;
}
.Construction-icon
{
    position: relative;
    width: 60px;
    left: 269px;
    top: -8px;
}
.Construction-icon::before
{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 36px;
    top: 9px;
    border-radius: 100px;
    background: #FF5C00;
    z-index: -1;
    transition: .3s;
}
.Construction-icon:hover::before
{
    width: 80px;
    height: 80px;
    left: -10px;
    top: -10px;
}
.Construction-name
{
    position: relative;
    left: 224px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}
.Construction-text
{
    width: 296px;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
}
.Construction-text h5
{
    position: relative;
    left: 150px;
    top: 11px;
    line-height: 18px;
}
.Finishing-services
{
    position: relative;
    top: -65px;
    left: 809px;
}
.Finishing-icon
{
    position: relative;
    width: 60px;
    left: 269px;
    top: -8px;
}
.Finishing-icon::before
{
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 36px;
    top: 9px;
    border-radius: 100px;
    background: #FF5C00;
    z-index: -1;
    transition: .3s;
}
.Finishing-icon:hover::before
{
    width: 80px;
    height: 80px;
    left: -10px;
    top: -10px;
}
.Finishing-name
{
    position: relative;
    left: 256px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}
.Finishing-text
{
    width: 296px;
    flex-direction: column;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
}
.Finishing-text h5
{
    position: relative;
    left: 150px;
    top: 11px;
    line-height: 18px;
}
.our-projects
{
    position: relative;
    top: 69px;
}
.our-projects-name
{
    position: relative;
    left: 129px;
}
.our-projects-name h2
{
    position: absolute;
    top: 0;
    font-family: Montserrat;
    font-size: 41px;
    font-weight: 500;
}
.our-projects-name h1
{
    position: absolute;
    top: 3px;
    left: 54px;
    color: #B3B3B3;
    font-family: Montserrat;
    font-size: 61px;
    font-weight: 500;
    z-index: -1;
}
.projects-img
{
    position: relative;
    display: -webkit-inline-flex;
    margin-top: 104px;
}
.project-1 {margin-left: 119px; border-bottom: 5px solid #FF5C00;}
.project-2,
.project-3 {margin-left: 43px; border-bottom: 5px solid #FF5C00;}
.project-1::before,
.project-2::before,
.project-3::before
{
    content: '';
    transition: .3s;
}
.project-1:hover::before,
.project-2:hover::before,
.project-3:hover::before
{
    content: '';
    position: absolute;
    background: #ff5e005c;
    width: 350px;
    height: 350px;
    display: block;
    z-index: 9;
}
.background
{  
    position: relative;
    top: 150px;
    left: 76px;
}
.st-text
{
    position: relative;
    z-index: 9;
    display: -webkit-inline-flex;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 29px;
    left: 82px;
    top: 25px;
    line-height: 35px;

}
.st-text span
{
    color: #FF5C00;
}
.st-text .text-1
{
    width: 146px;
    margin-left: 150px;
    text-align: center;
}
.st-text .text-2
{
    width: 326px;
    margin-left: 130px;
    text-align: center;
}
.st-text .text-3
{
    width: 158px;
    margin-left: 130px;
    text-align: center;
}
.swiper-selection
{
    position: relative;
    margin-top: 157px;
}
.swiper 
{
    width: 100%;
    height: 560px;
}
.swiper-slide 
{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-name
{
    position: relative;
    left: 76px;
    top: 70px;
}
.swiper-name h1
{
    position: absolute;
    left: 85px;
    top: 3px;
    font-weight: 500;
    font-size: 61px;
    font-family: 'montserrat';
    color: #B3B3B3;
    z-index: -1;
}
.swiper-name h2
{
    font-family: Montserrat;
    font-size: 41px;
    font-weight: 500;
}
.text-swiper
{
    position: relative;
    width: 623px;
    margin-top: 98px;
    margin-left: 72px;
    line-height: 24px;
}
.text-swiper span
{
    color: #FF5C00;
    font-weight: 600;
}
.text-swiper h4
{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}
.img-swiper
{
    position: absolute;
    top: 0;
    left: 659px;
}
.swiper-slide img 
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-selection .swiper-pagination-bullet
{
    width: 10px;
    height: 10px;
}
.swiper-selection .swiper-pagination-bullet-active
{
    width: 90px;
    border-radius: 100px;
    background: #FF5C00;
}
.swiper-selection .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
{
    margin: 0px 0px 0px 5px;
}
.swiper-selection .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction 
{
    top: 519px;
    left: 10px;
    width: 100%;
}
.services-build
{
    position: relative;
    margin-top: 52px;
}
.services-box
{
    margin-left: 112px;
}
.serv-background
{
    position: absolute;
}
.serv-name h2
{
    width: 350px;
    text-align: center;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 25px;
    position: relative;
    top: 18px;
}
.serv-text
{
    width: 320px;
    position: relative;
    left: 14px;
    top: 44px;
    text-align: center;
    line-height: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #909090;
}
.button
{   
    position: relative;
    width: 138px;
    left: 15px;
    top: 64px;
    font-size: 30px;
    font-family: 'montserrat';
    font-weight: 600;
    background: #216994;
    padding: 21px 91px 19px 91px;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
}
.button:hover
{
    background: #4ba1d3;
}
.two
{
    position: absolute;
    left: 400px;
    top: 0;
}
.three
{
    position: absolute;
    left: 400px;
    top: 0;
}
.contact-info
{
    position: relative;
    margin-top: 194px;
}
.contact-name
{
    position: relative;
    left: 127px;
}
.contact-name h1
{
    position: absolute;
    color: #B3B3B3;
    font-family: Montserrat;
    font-size: 61px;    
    font-family: 500;
    z-index: -1;
    left: 85px;
    top: 2px;
}
.contact-name h2
{
    font-family: Montserrat;
    font-size: 41px;
    font-weight: 500;
}
.box-info-contact
{
    position: relative;
    display: -webkit-inline-flex;
    margin-left: 77px;
    top: 56px;
    left: 82px;
}
.box-info-contact h3
{
    font-weight: 700;
    font-family: 'montserrat';
    font-size: 25px;
    color: #FF5C00;
}
.box-info-contact h4
{
    position: absolute;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    color: #909090;
}
.box-inf-number
{
    width: 180px;
    position: absolute;
    top: 34px;
    left: 51px;
}
.box-inf-address
{
    width: 332px;
    position: absolute;
    top: 34px;
    left: 12px;
}
.box-inf-mail
{
    width: 200px;
    position: absolute;
    top: 34px;
    left: 37px;
}
.question
{
    width: 519px;
    position: relative;
    top: 187px;
    left: 173px;
}
.question h1
{
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
}
.question h4
{
    width: 500px;
    position: absolute;
    top: 111px;
    line-height: 24px;
    color: #909090;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}
.logo-social-network
{
    position: relative;
    top: 317px;
}
.logo
{
    position: relative;
    display: -webkit-inline-flex;
}
.logo .vk
{
    margin-left: 586px;
    transition: .3s;
}
.logo .facebook,
.logo .twitter,
.logo .instagram
{
    margin-left: 20px;
    transition: .3s;
}
.logo .vk:hover,
.logo .facebook:hover,
.logo .twitter:hover,
.logo .instagram:hover
{
    transform: scale(1.2);
}
.button-question
{
    width: 260px;
    position: absolute;
    top: 303px;
    left: 760px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 30px;
    background: #216994;
    padding: 20px 91px 20px 91px;
    border-radius: 20px;
    transition: .3s;
    cursor: pointer;
}
.button-question:hover
{
    background: #4ba1d3;
}
.desktop-1000,
.desktop-800,
.desktop-480,
.desktop-375,
.desktop-horizontal-1-3,
.desktop-horizontal-1,
.desktop-horizontal-1-1,
.desktop-horizontal-1-2,
.desktop-horizontal-2,
.desktop-horizontal-3,
.desktop-1200
{
    display: none;
}
.button::before
{
    content: '+7(925)033-87-77';
    width: 0%;
    position: absolute;
    padding: 30px 0px 30px 0px;
    display: block;
    max-height: 10px;
    visibility: hidden;
    background: #35a6e9;
    top: 0;
    left: 0;
    float:left;
    border-radius: 20px;
    transition:  .2;
    text-align: center;
    font-size: 16px;
}
.button:hover::before
{
    width: 100%;
    transition: .3s;
    visibility: visible;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    width: 80%;
    height: 80%;
    border-radius: 0.5rem;
}
.modal input,
.modal textarea
{
    font-family: 'montserrat';
    font-weight: 600;
}
.close-button {
    color: white;
    font-weight: 600;
    top: 15px;
    right: 24px;
    float: right;
    width: 1.5rem;
    z-index: 9;
    position: relative;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0.25rem;
    background-color: #4d4d4f;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/* При расчете размеров инпутов учитываем внутренние отступы и границы */
input,
textarea {
  box-sizing: border-box;
}

/* Ограничиваем контейнер по ширине 1000px */
.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

/* Стили самой формы */
.content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  justify-content: space-between; /* колонки растянутся на всю ширину */
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

/* Стили левой колонки */
.left-side {
  width: 25%; /* занимает 25% общей ширины */
  height: 100%; /* растягиваем на всю высоту */
  position: relative; /* позиционирование относительное (для ::before) */
  display: flex;
  flex-direction: column; /* внутри элементы располагаем в колонку */
}

/* Стили разделительной линии между левой и правой колонкой */
.left-side::before {
  content: ""; /* контент нам не нужен */
  position: absolute; /* позиционируем относительно .left-side */
  height: 70%; /* высота 70% от .left-side */
  width: 2px; /* ширина 2px */
  background: #afafb6;
  right: -15px; /* позиционируем справа + отступ 15px (справа) */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
}

/* Стили правой колонки */
.right-side {
  width: 75%; /* занимает 75% общей ширины */
  margin-left: 75px;
}

/* Элементы левой колонки: адрес, телефон, email */
.details {
  margin-bottom: 15px;
  text-align: center;
}

/* Общие стили для иконок */
.details i {
  font-size: 25px; /* задаем размер */
  color: #3e2093; /* задаем цвет */
  margin-bottom: 10px;
}

/* Стили для заголовков левой колонки */
.topic {
  font-size: 18px;
  font-weight: 500;
  font-family: 'montserrat';
  margin-bottom: 7px; /* отступ снизу 7px */
}

/* Стили для текста левой колонки */
.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
  font-family: 'montserrat';
}

/* Заголовок правой колонки */
.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #FF5C00;
  font-family: 'montserrat';
  margin-bottom: 10px;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 20px;
  font-family: 'montserrat';
}

/* Контейнер для input'ов формы */
.input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: rgb(192, 192, 192); /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  font-family: "montserrat";
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.button-2 {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.button-2 input[type="submit"] {
  color: #fff;
  font-size: 18px;
  background: #216994;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}